.x-buttons-list .x-list-item div {
	text-align: center;
}

.x-title-panel div {
	text-align: center;
}

.emptyListText {
	text-align: center;
}

.x-list-header {
	background-color: rgb(113, 145, 185);
}

.x-list-header, .x-toolbar-dark {
	background-image: none;
	color: white;
	text-shadow: none;
	-webkit-box-shadow: none;
}

.keyboard-button-line {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}

.keyboard-button-line .x-button {
	-webkit-box-flex: 1;
	text-align: center;
	margin: 2px;
	padding: 12px 0;
}

.x-keyboard .x-button {
	display: block;
}

.keyboard-value {
	width: 170px;
	margin: 5px 0;
}

.x-list-item .hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}

.x-product-list .x-list-header {
	height: 3em;
}

.x-product-category-list .x-list-header {
	height: 3em;
}

.count {
	width: 2.75em;
	color: gray;
	text-align: center;
	margin-right: 0.5em;
}

.stats {
	width: 2.75em;
	color: blue;
	text-align: center;
	margin-right: 0.5em;
}

.x-phone .x-form .x-panel-body {
	padding: 0;
}

.x-phone .x-list .x-list-item{
	padding: 0.25em 0.4em;
}

.x-list-item .hbox .volume, .x-list-item .hbox .encashSumm {
	color: green;
	padding: 10px 16px 0;
	font-weight: bold;
}

.x-list-item--- .hbox .cost {
	color: blue;
}

.expandable .x-list-group-items, .expandable .hasActive .x-list-item {
	display: none;
}


.expandable .x-list-group-items.hasActive , .expandable .x-list-group-items.expanded,
.expandable .hasActive .x-list-item.active, .expandable .hasActive.expanded .x-list-item {
	display: inherit;
}

.hbox .data {
	-webkit-box-flex: 1;
}

.hbox .buttons {
	padding-right: 10px;
}

.x-list-item .hbox .aggregates {
	padding-left: 10px;
	-webkit-box-flex: 1;
}

.--x-list-item .buttons {
	display: none;
}

.--x-item-selected .buttons {
	display: inherit;
}

.x-list-item .x-button {
	padding-top: 0px ;
	padding-bottom: 0px ;
}

.x-list-item-body > .dep > .x-button.extend {
	margin: -10px -10px -10px;
}
.x-product-category-list {
	border-right: 2px black groove;
}

.x-list-item small {
	color: silver;
}

.x-navigator-form .x-list-item-body > * > span {
	padding-right: 1em;
}

.x-navigator-form .x-list {
    background: transparent;
}

.x-navigator-form .x-list .x-list-item {
    background: white;
}


.x-ipad    .x-navigator-form .x-list > .x-list-item,
.x-desktop .x-navigator-form .x-list > .x-list-item {
    border: 1px solid #B4B4B4;
    border-bottom: none;
    font-weight: bold;
    padding: 10px;
}

.x-ipad    .x-navigator-form .x-list > .x-list-item:first-child,
.x-desktop .x-navigator-form .x-list > .x-list-item:first-child {
    border-top: 1px solid #B4B4B4;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
}

.x-ipad    .x-navigator-form .x-list > .x-list-item:last-child ,
.x-desktop .x-navigator-form .x-list > .x-list-item:last-child {
    border-bottom: 1px solid #B4B4B4;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
}


.x-navigator-form .x-item-disabled .x-form-label span, .x-navigator-form .x-item-disabled input, 
.x-navigator-form .x-item-disabled .x-spinner-body, .x-navigator-form .x-item-disabled select,
.x-navigator-form .x-item-disabled textarea, .x-navigator-form .x-item-disabled .x-field-clear-container {
	color: black;
}

.x-field-select .remove-filter {
	padding-right: 0.75em;
	padding-left: 0.75em;
}

.x-list.x-table-list .x-list-item.x-item-selected {
	background: #F8FFF8;
	color: inherit;
	text-shadow: inherit;
	border-top-color: #D1D1D1;
	border-bottom-color: inherit;
}

.x-list.x-table-list .x-list-item.x-item-selected small {
	color: gray;
}


.x-list.x-table-list .x-item-selected .x-list-disclosure {
	background-color: #0E6EE9;

}

.x-list-item.x-item-selected, .x-list .x-list-disclosure {
	background-image: none !important;
}

.x-list-item.editing {
	background-color: #FFCCFF;
}

.negative, .isBlockedPlong, .isOverdue, .red, .caution{
	color: red !important;
}

.blue {
	color: blue !important;
}

.yellow {
	color: yellow !important;
}

.green {
	color: green !important;
}

.prefsheet .x-layout-box > .x-button  {
	-webkit-box-flex: 1;
}

.processing.is-draft {
	color: blue;
}

.processing.is-processing {
	color: green;
}

.crec {
	color: white;
	background-color: red;
	padding: 2px 6px;
	margin-left: 6px;
}

.hbox.dep {
	margin-bottom: 6px;
}

.label-parent.x-button {
	display: inline;
}

.x-indexbar-horizontal {
	padding: 0 .3em;
	width: auto;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-align: stretch;
	box-align: stretch;
	-webkit-box-pack: center;
	box-pack: center;
	position: absolute;
	top: auto;
	bottom: 0.5em;
	right: auto;
	z-index: 3;
}

.x-indexbar-horizontal .x-indexbar-body {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.x-indexbar-horizontal .x-indexbar-item {
	padding-right: 3px;
}

.x-hindex-body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.x-hindex-body .x-hindex-line {
	flex: 1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.x-hindex-body .x-hindex-line .x-hindex-item {
	padding: 0.2em 0.1em;
	display: block;
	width: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
}