.x-buttons-list .x-list-item div {
	text-align: center;
}

.x-title-panel div {
	text-align: center;
}

.x-list-item .hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}

.x-product-list .x-list-header {
	height: 3em;
}

.count {
	width: 2.75em;
	color: gray;
	text-align: center;
	margin-right: 0.5em;
}

.x-phone .x-form .x-panel-body {
	padding: 0;
}

.x-phone .x-list .x-list-item{
	padding: 0.25em 0.4em;
}

.x-list-item .hbox .volume {
	color: green;
	padding: 10px 16px 0;
	font-weight: bold;
}

.x-list-item--- .hbox .cost {
	color: blue;
}

.hbox .data {
	-webkit-box-flex: 1;
}

.x-list-item .other- {
	display: none;
}

.x-item-selected .other {
	display: inherit;
}

.x-list-item .x-button {
	padding-top: 0px ;
	padding-bottom: 0px ;
}

.x-product-category-list {
	border-right: 2px black groove;
}

.x-list-item small {
	color: silver;
}

.x-navigator-form .x-list-item-body > * > span {
	padding-right: 1em;
}

.x-navigator-form .x-list {
    background: transparent;
}

.x-navigator-form .x-list .x-list-item {
    background: white;
}

.caution {
	color: red !important;
}

.x-ipad    .x-navigator-form .x-list > .x-list-item,
.x-desktop .x-navigator-form .x-list > .x-list-item {
    border: 1px solid #B4B4B4;
    border-bottom: none;
    font-weight: bold;
    padding: 10px;
}

.x-ipad    .x-navigator-form .x-list > .x-list-item:first-child,
.x-desktop .x-navigator-form .x-list > .x-list-item:first-child {
    border-top: 1px solid #B4B4B4;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
}

.x-ipad    .x-navigator-form .x-list > .x-list-item:last-child ,
.x-desktop .x-navigator-form .x-list > .x-list-item:last-child {
    border-bottom: 1px solid #B4B4B4;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
}


.x-navigator-form .x-item-disabled .x-form-label span, .x-navigator-form .x-item-disabled input, 
.x-navigator-form .x-item-disabled .x-spinner-body, .x-navigator-form .x-item-disabled select,
.x-navigator-form .x-item-disabled textarea, .x-navigator-form .x-item-disabled .x-field-clear-container {
	color: black;
}

.x-field-select .remove-filter {
	padding-right: 0.75em;
	padding-left: 0.75em;
}

.x-list.x-table-list .x-list-item.x-item-selected {
	background: #F8FFF8 none;
	color: inherit;
	text-shadow: inherit;
	border-top-color: #D1D1D1;
	border-bottom-color: inherit;
	background-image: none;
}

.x-list.x-table-list .x-item-selected .x-list-disclosure {
	background-color: white;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4F98F4), color-stop(50%, #1F7CF1), color-stop(51%, #0E6EE9), color-stop(100%, #0D63D1));
}