.x-buttons-list .x-list-item div {
	text-align: center;
}

.x-title-panel div {
	text-align: center;
}

.x-buttons-list .x-list-item .hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}

.x-buttons-list .x-list-item .hbox .data {
	-webkit-box-flex: 1;
}

.x-product-category-list {
	border-right: 2px black groove;
}